<!DOCTYPE html>
<html>
<head>
  <title>Iframe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    body {
      background-color: red;
    }
  </style>
  <%= yield %>
</head>
<body>

<%= yield %>

</body>
</html>
